<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notify</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body class="grid-head">
    <div>
        <header>
            <div class=titulo>
                <div>
                    <h3>Notify <span>.</span></h3>
                </div>
                <p>A great new free psd theme to showcase your new application</p>
                <div class="iconesmobile">
                    <div>
                        <img src="icone-android.png" alt="">
                    </div>
                    <div>
                        <img src="icone-ios.png" alt="">
                    </div>
                    <div>
                        <img src="icone-windows.png" alt="">
                    </div>
                </div>
                <div class="mao">
                    <img src="hand.png" alt="">
                </div>
            </div>
        </header>
    </div>
    <main class="grid-main">
        <div class="iconemain">
            <div>
                <img src="icone1.png" alt="">
                <h2>Editable Theme</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi omnis at inventore aliquam .
                </p>
            </div>
            <div>
                <img src="icone2.png" alt="">
                <h2>Flat Design</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi omnis at inventore aliquam .
                </p>
            </div>
            <div>
                <img src="icone3.png" alt="">
                <h2>Reach your Audience</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi omnis at inventore aliquam .
                </p>
            </div>
        </div>        
    </main>
    <section class="video">
        <div>
            <h2>Get Notified Of Any Updates</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, perferendis repellendus dolorem reprehenderit libero exercitationem corrupti hic harum veritatis quibusdam earum sapiente sed, vitae modi totam iste velit iure consectetur?
            </p>
            <div class="email">
                <input type="email">
                <button>Notify</button>
            </div>
        </div>
        <aside class="video-iframe">
                <iframe width="400" height="210" src="https://www.youtube.com/embed/KaqC5FnvAEc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </aside>
    </section>
    <footer class="rodape">
        <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia accusamus quibusdam rem accusantium laborum a, rerum tempore voluptas saepe necessitatibus pariatur autem et eos eius alias laboriosam atque quae. Incidunt?</p>
        <h4>Jane Hunt</h4>
        </div>
        <span>
            <img src="pessoa1.jpg" alt="">
            <img src="pessoa1.jpg" alt="">
            <img src="pessoa1.jpg" alt="">
            <img src="pessoa1.jpg" alt="">
            <img src="pessoa1.jpg" alt="">
            <img src="pessoa1.jpg" alt="">
            <img src="pessoa1.jpg" alt="">
            <img src="pessoa1.jpg" alt="">
            <img src="pessoa1.jpg" alt="">
        </span>
        <div class="fim">
            <h2>Say Hi & Get in Touch</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ratione nihil perspiciatis hic consectetur, possimus porro reiciendis cum, nemo atque voluptatem suscipit iure ullam consequuntur eligendi eveniet repellendus eaque expedita.</p>
        </div>
        <li>
            <ul>Contact</ul>
            <ul>Download</ul>
            <ul>Press</ul>
            <ul>Email</ul>
            <ul>Support</ul>
            <ul>Privacy Policy</ul>
        </li>
    </footer>
</body>

</html>